			
			</main>
			<footer id="pagefooter" role="contentinfo">
				<p>Bofelo Lloyd Headbush for Birbeck College, Univerity of London © 2018</p>
            </footer>
		
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/additional-methods.min.js"></script>
		<script type="text/javascript" language="javascript" src="./scripts/validation.js"></script>
		<script type="text/javascript" language="javascript" src="./scripts/balance.js"></script>
		<script type="text/javascript" language="javascript" src="./scripts/quotes.js"></script>

    </body>
</html>